<nav class="navbar fixed-top navbar-dark bg-dark">
    <span class="navbar-brand">Password Builder</span>

    <a [routerLink]="['options']" class="btn btn-dark" type="button">
        <i class="fas fa-cog"></i>
    </a>
</nav>

<div *ngIf="!valid" class="container-fluid pt-5 mt-5 text-center">
    <h3 class="alert alert-danger">Configure your private keys</h3>
</div>

<div *ngIf="valid" class="container-fluid pt-5 text-center">


    <div class="form-group mt-5">
        <label>Related word</label>
        <input [(ngModel)]="pkey" (keyup)="build()" class="form-control">
    </div>

    <div class="row">
        <div class="col-6">

            <select (change)="build()" class="form-control form-control-sm" [(ngModel)]="len">
                <option *ngFor="let l of lens" [value]="l">{{l}} symbols'</option>
            </select>

        </div>
        <div class="col-6">
            <div class="form-check">

                <input (change)="build()" id="specid" [(ngModel)]="spec" type="checkbox" class="form-check-input">
                <label for="specid" class="form-check-label">special symbol</label>

            </div>
        </div>
    </div>

    <hr class="mt-5 mb-5">

    <div *ngFor="let el of hashMap" class="form-group">
        <label class="small">Character length: {{el.passwd.toString().length}}</label>

        <div class="row">
            <div class="col-9">
                <h3>{{el.passwd}}</h3>
            </div>
            <div class="col-3">
                <button class="btn btn-outline-info form-control" (click)="copy(el.passwd)">
                    <i class="far fa-copy"></i>
                </button>
            </div>
        </div>
    </div>

</div>
